/* The main application screen */
Screen {
    background: #0d1117; /* A dark, modern background */
    layout: vertical;
    overflow-y: hidden;
}

#main-container {
    align-horizontal: center;
    align-vertical: middle;
    width: 100%;
}
/* Style for the header and footer */
#header, #footer {
    width: 100%;
    height: 3;
    background: #161b22;
    content-align: center middle;
    color: #c9d1d9;
}

/* Style for all data panels */
.panel {
    background: #161b22;
    border: round #30363d;
    height: auto;
    width: 50%;
    margin: 1 2;
    padding: 1;
}

/* Specific style for the status panel */
#status-panel {
    content-align: center middle;
   /* font-size: 100%; */
    text-style: bold;
    width: 50%;
    height: 5;
}

/* The critical color-coded status styles */
.normal {
    background: #238636; /* Green */
    color: white;
}
.warning {
    background: #d29922; /* Yellow/Orange */
    color: black;
}
.critical {
    background: #da3633; /* Red */
    color: white;
}
